@page "/Points"
@using TALab2
@rendermode InteractiveServer

<PageTitle>Points</PageTitle>

<h1>Points:</h1>

<div class="row">
    <div class="col-6">
        <h2>Points</h2>
        <ul>
            @foreach (var point in dataProvider.Vertixes)
            {
                <li>@point</li>
            }
        </ul>
    </div>
</div>

    <div class="col-6">
        <h2>Edges</h2>
    <ul>
        @foreach (var edge in dataProvider.Edges)
        {
            <li>@edge</li>
        }
    </ul>
    </div>

@code {
    private DataProvider dataProvider = new DataProvider();

}