@using TALab2
@using System.ComponentModel.DataAnnotations

<div>
    @if(Destinations is not null)
    {
        <h2 style="margin: 20px">List of closest destination to @Graph[Start].ToShortString()</h2>
        <div>
            @if (Destinations.Count == 0)
            {
                <p>No destinations found</p>
            }
            else
            {
                @foreach (var destination in Destinations)
                {
                    <p style="margin: 10px; font-size: 16pt; background: @GetColourForListElement(); padding: 20px; border-radius: 10px">
                        @destination.Way.ToStringLong(Graph)
                    </p>
                }
            }
        </div>
    }
</div>

@code {
    [Required]
    [Parameter]
    public List<Destination>? Destinations { get; set; }
    
    [Required]
    [Parameter]
    public Graph Graph { get; set; }
    
    [Required]
    [Parameter]
    public char Start { get; set; }

    private int i = 0;
    
    public string GetColourForListElement()
    {
        if (i % 2 == 0)
        {
            i++;
            return "lightgrey";
        }
        
        i++;
        return "white";
    }
}