@using TALab2
@using System.ComponentModel.DataAnnotations
<h4>Way</h4>
@if(WayToPoint is not null)
{
    <div>
        <a style="font-size: 16pt; padding: 20px; margin: 20px">@WayToPoint.ToStringLong(Graph)</a>
    </div>
}

@code {
    [Required] [Parameter] public WayToPoint? WayToPoint { get; set; }
    [Required] [Parameter] public Graph Graph { get; set; }
}